{% extends 'base.html' %}
{% block content %}
  <h1>Polls</h1>
  {% if user.is_authenticated and user.profile.role in 'admin, moderator' %}
    <a href="{% url 'polls:poll-create' %}">Create poll</a>
  {% endif %}
  <ul>
    {% for poll in polls %}
      <li>{{ poll.title }} - {{ poll.description }}
      {% for question in poll.questions.all %}
        <p>Question: {{ question.question_text }}</p>
        {% for answer in question.answers.all %}
          <p>Answer: {{ answer }}</p>
        {% endfor %}
      {% endfor %}
      </li>
    {% empty %}
      <li>No polls available.</li>
    {% endfor %}
  </ul>
{% endblock %}